@model print.Models.BLL.TradePrintInfo

@{
    ViewBag.Title = "Preview";
}

<h2>Preview</h2>

<fieldset>
    <legend>TradePrintInfo</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

